.player {
  position: relative;
}

.player-title {
  color: var(--White);
  position: absolute;
  inset-block-start: 20px;
  inset-inline-start: 20px;
}

.player-actions {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
}

.player video {
  inline-size: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-fit: cover;
}

.player-progress {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0px;
  display: flex;
  padding: 15px;
  z-index: 2;
}

.player-progress input {
  flex: 1;
}

.player-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.player:hover .player-overlay {
  opacity: 1;
}